@font-face {
    font-family: "Hack";
    src: url("fonts/hack-Regular.tff") format("tff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hack";
    src: url("fonts/hack-Bold.tff") format("tff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Hack";
    src: url("fonts/hack-Italic.tff") format("tff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Hack";
    src: url("fonts/hack-BoldItalic.tff") format("tff");
    font-weight: bold;
    font-style: italic;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    background-color: #333333;
}

body {
    overflow-x: hidden;
    height: auto;
    margin: 0;
    padding: 0;

}

div#content {
    margin: 0;
    padding-top: 70px;
    height: auto;
}

div#content p {
    color: #EEEEEE;
    font-family: "Hack", monospace;
    margin: 0;
}

div#test {
    height: auto;
    margin: 0;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}