@font-face {
    font-family: "Hack";
    src: url("fonts/hack-Regular.tff") format("tff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hack";
    src: url("fonts/hack-Bold.tff") format("tff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Hack";
    src: url("fonts/hack-Italic.tff") format("tff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Hack";
    src: url("fonts/hack-BoldItalic.tff") format("tff");
    font-weight: bold;
    font-style: italic;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
}

body {
    overflow-x: wrap;
    height: auto;
    margin: 0;
    font-family: "Hack", monospace;
}

main {
    padding: 80px 10px 10px 10px
}

main#text {
    max-width:100%;
    overflow-wrap: anywhere;
    white-space: normal;
}

main#input {
    max-width: 100%;
}
